<?xml version="1.0" encoding="UTF-8"?>
<xmi:XMI xmi:version="2.0" xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:notation="http://www.eclipse.org/gmf/runtime/1.0.2/notation" xmlns:sgraph="http://www.yakindu.org/sct/sgraph/2.0.0">
  <sgraph:Statechart xmi:id="__YWR4ILeEei2Ab2sNssNHQ" specification="&#xA;interface:&#xA;&#xA;in event BotonEncendido&#xA;in event BotonPlayPausa&#xA;in event BotonStop&#xA;&#xA;var Dec:integer&#xA;var Seg:integer&#xA;var Min:integer&#xA;var LuzRoja:boolean&#xA;&#xA;//internal:&#xA;//every 1ms/ &#xA;" name="PruebaYakindu">
    <regions xmi:id="__Yh4EoLeEei2Ab2sNssNHQ" name="main region">
      <vertices xsi:type="sgraph:Entry" xmi:id="__Y988ILeEei2Ab2sNssNHQ">
        <outgoingTransitions xmi:id="_PEuOsILgEei2Ab2sNssNHQ" target="_MlAD8ILgEei2Ab2sNssNHQ"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_MlAD8ILgEei2Ab2sNssNHQ" name="APAGADO" incomingTransitions="_PEuOsILgEei2Ab2sNssNHQ _YtTyMILjEei2Ab2sNssNHQ">
        <outgoingTransitions xmi:id="_ClfRYILhEei2Ab2sNssNHQ" specification="BotonEncendido" target="_AN-AYILhEei2Ab2sNssNHQ"/>
        <regions xmi:id="_MlBSEILgEei2Ab2sNssNHQ" name="r1">
          <vertices xsi:type="sgraph:State" xmi:id="_hatukILgEei2Ab2sNssNHQ" specification="entry /&#xD;&#xA;LuzRoja=true&#xD;&#xA;" name="Est_1" incomingTransitions="_ROoFAILhEei2Ab2sNssNHQ _5UdgAILiEei2Ab2sNssNHQ">
            <outgoingTransitions xmi:id="_14fIYILiEei2Ab2sNssNHQ" specification="after 1000ms" target="_mu1BoILiEei2Ab2sNssNHQ"/>
          </vertices>
          <vertices xsi:type="sgraph:Entry" xmi:id="_Qj4e4ILhEei2Ab2sNssNHQ">
            <outgoingTransitions xmi:id="_ROoFAILhEei2Ab2sNssNHQ" specification="" target="_hatukILgEei2Ab2sNssNHQ"/>
          </vertices>
          <vertices xsi:type="sgraph:State" xmi:id="_mu1BoILiEei2Ab2sNssNHQ" specification="entry /&#xD;&#xA;LuzRoja=false&#xD;&#xA;" name="Est_2" incomingTransitions="_14fIYILiEei2Ab2sNssNHQ">
            <outgoingTransitions xmi:id="_5UdgAILiEei2Ab2sNssNHQ" specification="after 1000ms" target="_hatukILgEei2Ab2sNssNHQ"/>
            <regions xmi:id="_GrvqMILjEei2Ab2sNssNHQ"/>
            <regions xmi:id="_GyJ0MILjEei2Ab2sNssNHQ"/>
            <regions xmi:id="_Gz2dUILjEei2Ab2sNssNHQ"/>
          </vertices>
        </regions>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_AN-AYILhEei2Ab2sNssNHQ" name="ENCENDIDO" incomingTransitions="_ClfRYILhEei2Ab2sNssNHQ">
        <outgoingTransitions xmi:id="_YtTyMILjEei2Ab2sNssNHQ" specification="BotonEncendido" target="_MlAD8ILgEei2Ab2sNssNHQ"/>
        <regions xmi:id="_AN-AY4LhEei2Ab2sNssNHQ" name="r1">
          <vertices xsi:type="sgraph:State" xmi:id="_iDRcAILjEei2Ab2sNssNHQ" specification="entry/&#xD;&#xA;&#xD;&#xA;Dec=0;&#xD;&#xA;Seg=0;&#xD;&#xA;Min=0" name="Stop" incomingTransitions="_83Qb4ILjEei2Ab2sNssNHQ _E3RmcILkEei2Ab2sNssNHQ _wR7EUILpEei2Ab2sNssNHQ">
            <outgoingTransitions xmi:id="_CfDx4ILkEei2Ab2sNssNHQ" specification="BotonPlayPausa" target="_-bEYAILjEei2Ab2sNssNHQ"/>
          </vertices>
          <vertices xsi:type="sgraph:Entry" xmi:id="_8ODt4ILjEei2Ab2sNssNHQ">
            <outgoingTransitions xmi:id="_83Qb4ILjEei2Ab2sNssNHQ" specification="" target="_iDRcAILjEei2Ab2sNssNHQ"/>
          </vertices>
          <vertices xsi:type="sgraph:State" xmi:id="_-bEYAILjEei2Ab2sNssNHQ" specification="every 100ms/&#xD;&#xA;Dec+=1&#xD;&#xA;every 1s/&#xD;&#xA;Seg+=1;&#xD;&#xA;Dec=0&#xD;&#xA;every 60s/&#xD;&#xA;Min+=1;&#xD;&#xA;Seg=0" name="Play" incomingTransitions="_CfDx4ILkEei2Ab2sNssNHQ _KqlB0ILkEei2Ab2sNssNHQ _2sj0UIPMEei-3cjx35IeAQ">
            <outgoingTransitions xmi:id="_E3RmcILkEei2Ab2sNssNHQ" specification="BotonStop" target="_iDRcAILjEei2Ab2sNssNHQ"/>
            <outgoingTransitions xmi:id="_I3Ec0ILkEei2Ab2sNssNHQ" specification="BotonPlayPausa" target="__8ThTYLjEei2Ab2sNssNHQ"/>
          </vertices>
          <vertices xsi:type="sgraph:State" xmi:id="__8ThTYLjEei2Ab2sNssNHQ" specification="&#xD;&#xA;&#xD;&#xA;" name="Pausa" incomingTransitions="_I3Ec0ILkEei2Ab2sNssNHQ">
            <outgoingTransitions xmi:id="_KqlB0ILkEei2Ab2sNssNHQ" specification="BotonPlayPausa" target="_-bEYAILjEei2Ab2sNssNHQ"/>
            <outgoingTransitions xmi:id="_wR7EUILpEei2Ab2sNssNHQ" specification="BotonStop" target="_iDRcAILjEei2Ab2sNssNHQ"/>
            <outgoingTransitions xmi:id="_2sj0UIPMEei-3cjx35IeAQ" specification="BotonPlayPausa" target="_-bEYAILjEei2Ab2sNssNHQ"/>
          </vertices>
        </regions>
      </vertices>
    </regions>
  </sgraph:Statechart>
  <notation:Diagram xmi:id="__Yh4EILeEei2Ab2sNssNHQ" type="org.yakindu.sct.ui.editor.editor.StatechartDiagramEditor" element="__YWR4ILeEei2Ab2sNssNHQ" measurementUnit="Pixel">
    <children xmi:id="__YmwpYLeEei2Ab2sNssNHQ" type="Region" element="__Yh4EoLeEei2Ab2sNssNHQ">
      <children xsi:type="notation:DecorationNode" xmi:id="__Y8u0ILeEei2Ab2sNssNHQ" type="RegionName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="__Y8u0YLeEei2Ab2sNssNHQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="__Y8u0oLeEei2Ab2sNssNHQ"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="__Y9V4ILeEei2Ab2sNssNHQ" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
        <children xmi:id="__Y988YLeEei2Ab2sNssNHQ" type="Entry" element="__Y988ILeEei2Ab2sNssNHQ">
          <children xmi:id="__Y989YLeEei2Ab2sNssNHQ" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="__Y98-ILeEei2Ab2sNssNHQ" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="__Y98-YLeEei2Ab2sNssNHQ"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="__Y98-oLeEei2Ab2sNssNHQ"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="__Y989oLeEei2Ab2sNssNHQ" fontName="Verdana" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="__Y9894LeEei2Ab2sNssNHQ"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="__Y988oLeEei2Ab2sNssNHQ" fontName="Verdana" fillColor="0" lineColor="16777215"/>
          <styles xsi:type="notation:NamedStyle" xmi:id="__Y9884LeEei2Ab2sNssNHQ" name="allowColors"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="__Y-kAILeEei2Ab2sNssNHQ" x="195" width="15" height="15"/>
        </children>
        <children xmi:id="_MlB5IILgEei2Ab2sNssNHQ" type="State" element="_MlAD8ILgEei2Ab2sNssNHQ">
          <children xsi:type="notation:DecorationNode" xmi:id="_MlB5JILgEei2Ab2sNssNHQ" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_MlB5JYLgEei2Ab2sNssNHQ"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_MlCgMILgEei2Ab2sNssNHQ"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_MlCgMYLgEei2Ab2sNssNHQ" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_MlCgMoLgEei2Ab2sNssNHQ" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_MlCgM4LgEei2Ab2sNssNHQ"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_MlCgNILgEei2Ab2sNssNHQ" type="StateFigureCompartment">
            <children xmi:id="_MlGKkILgEei2Ab2sNssNHQ" type="Region" element="_MlBSEILgEei2Ab2sNssNHQ">
              <children xsi:type="notation:DecorationNode" xmi:id="_MlGKk4LgEei2Ab2sNssNHQ" type="RegionName">
                <styles xsi:type="notation:ShapeStyle" xmi:id="_MlGKlILgEei2Ab2sNssNHQ"/>
                <layoutConstraint xsi:type="notation:Location" xmi:id="_MlGKlYLgEei2Ab2sNssNHQ"/>
              </children>
              <children xsi:type="notation:Shape" xmi:id="_MlGKloLgEei2Ab2sNssNHQ" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
                <children xmi:id="_hawK0ILgEei2Ab2sNssNHQ" type="State" element="_hatukILgEei2Ab2sNssNHQ">
                  <children xsi:type="notation:DecorationNode" xmi:id="_hawK1ILgEei2Ab2sNssNHQ" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_hawK1YLgEei2Ab2sNssNHQ"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_hawK1oLgEei2Ab2sNssNHQ"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_hawK14LgEei2Ab2sNssNHQ" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_hawx4ILgEei2Ab2sNssNHQ" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_hawx4YLgEei2Ab2sNssNHQ"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_hawx4oLgEei2Ab2sNssNHQ" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_hawK0YLgEei2Ab2sNssNHQ" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_hawK0oLgEei2Ab2sNssNHQ"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_hawx44LgEei2Ab2sNssNHQ" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_hawK04LgEei2Ab2sNssNHQ" x="63" y="14" width="207" height="89"/>
                </children>
                <children xmi:id="_Qj8JQILhEei2Ab2sNssNHQ" type="Entry" element="_Qj4e4ILhEei2Ab2sNssNHQ">
                  <children xmi:id="_Qj8wUILhEei2Ab2sNssNHQ" type="BorderItemLabelContainer">
                    <children xsi:type="notation:DecorationNode" xmi:id="_Qj-lgILhEei2Ab2sNssNHQ" type="BorderItemLabel">
                      <styles xsi:type="notation:ShapeStyle" xmi:id="_Qj-lgYLhEei2Ab2sNssNHQ"/>
                      <layoutConstraint xsi:type="notation:Location" xmi:id="_Qj_MkILhEei2Ab2sNssNHQ"/>
                    </children>
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_Qj8wUYLhEei2Ab2sNssNHQ" fontName="Verdana" lineColor="4210752"/>
                    <layoutConstraint xsi:type="notation:Bounds" xmi:id="_Qj8wUoLhEei2Ab2sNssNHQ"/>
                  </children>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_Qj8JQYLhEei2Ab2sNssNHQ" fontName="Verdana" fillColor="0" lineColor="16777215"/>
                  <styles xsi:type="notation:NamedStyle" xmi:id="_Qj8JQoLhEei2Ab2sNssNHQ" name="allowColors"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_Qj8JQ4LhEei2Ab2sNssNHQ" x="27" y="-11"/>
                </children>
                <children xmi:id="_muzzgYLiEei2Ab2sNssNHQ" type="State" element="_mu1BoILiEei2Ab2sNssNHQ">
                  <children xsi:type="notation:DecorationNode" xmi:id="_muzzgoLiEei2Ab2sNssNHQ" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_muzzg4LiEei2Ab2sNssNHQ"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_muzzhILiEei2Ab2sNssNHQ"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_muzzhYLiEei2Ab2sNssNHQ" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_muzzhoLiEei2Ab2sNssNHQ" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_muzzh4LiEei2Ab2sNssNHQ"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_muzziILiEei2Ab2sNssNHQ" type="StateFigureCompartment">
                    <children xmi:id="_GrwRQILjEei2Ab2sNssNHQ" type="Region" element="_GrvqMILjEei2Ab2sNssNHQ">
                      <children xsi:type="notation:DecorationNode" xmi:id="_Grw4UILjEei2Ab2sNssNHQ" type="RegionName">
                        <styles xsi:type="notation:ShapeStyle" xmi:id="_Grw4UYLjEei2Ab2sNssNHQ"/>
                        <layoutConstraint xsi:type="notation:Location" xmi:id="_Grw4UoLjEei2Ab2sNssNHQ"/>
                      </children>
                      <children xsi:type="notation:Shape" xmi:id="_Grw4U4LjEei2Ab2sNssNHQ" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
                        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_Grw4VILjEei2Ab2sNssNHQ"/>
                      </children>
                      <styles xsi:type="notation:ShapeStyle" xmi:id="_GrwRQYLjEei2Ab2sNssNHQ" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_GrwRQoLjEei2Ab2sNssNHQ"/>
                    </children>
                    <children xmi:id="_GyJ0MYLjEei2Ab2sNssNHQ" type="Region" element="_GyJ0MILjEei2Ab2sNssNHQ">
                      <children xsi:type="notation:DecorationNode" xmi:id="_GyLpYILjEei2Ab2sNssNHQ" type="RegionName">
                        <styles xsi:type="notation:ShapeStyle" xmi:id="_GyLpYYLjEei2Ab2sNssNHQ"/>
                        <layoutConstraint xsi:type="notation:Location" xmi:id="_GyLpYoLjEei2Ab2sNssNHQ"/>
                      </children>
                      <children xsi:type="notation:Shape" xmi:id="_GyLpY4LjEei2Ab2sNssNHQ" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
                        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_GyLpZILjEei2Ab2sNssNHQ"/>
                      </children>
                      <styles xsi:type="notation:ShapeStyle" xmi:id="_GyJ0MoLjEei2Ab2sNssNHQ" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_GyJ0M4LjEei2Ab2sNssNHQ"/>
                    </children>
                    <children xmi:id="_Gz3EYILjEei2Ab2sNssNHQ" type="Region" element="_Gz2dUILjEei2Ab2sNssNHQ">
                      <children xsi:type="notation:DecorationNode" xmi:id="_Gz3EY4LjEei2Ab2sNssNHQ" type="RegionName">
                        <styles xsi:type="notation:ShapeStyle" xmi:id="_Gz3EZILjEei2Ab2sNssNHQ"/>
                        <layoutConstraint xsi:type="notation:Location" xmi:id="_Gz3EZYLjEei2Ab2sNssNHQ"/>
                      </children>
                      <children xsi:type="notation:Shape" xmi:id="_Gz3rcILjEei2Ab2sNssNHQ" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
                        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_Gz3rcYLjEei2Ab2sNssNHQ"/>
                      </children>
                      <styles xsi:type="notation:ShapeStyle" xmi:id="_Gz3EYYLjEei2Ab2sNssNHQ" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_Gz3EYoLjEei2Ab2sNssNHQ"/>
                    </children>
                  </children>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_muzziYLiEei2Ab2sNssNHQ" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_muzzioLiEei2Ab2sNssNHQ"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_muzzi4LiEei2Ab2sNssNHQ" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_muzzjILiEei2Ab2sNssNHQ" x="63" y="169" width="207" height="89"/>
                </children>
                <layoutConstraint xsi:type="notation:Bounds" xmi:id="_MlGKl4LgEei2Ab2sNssNHQ"/>
              </children>
              <styles xsi:type="notation:ShapeStyle" xmi:id="_MlGKkYLgEei2Ab2sNssNHQ" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_MlGKkoLgEei2Ab2sNssNHQ"/>
            </children>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_MlB5IYLgEei2Ab2sNssNHQ" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_MlB5IoLgEei2Ab2sNssNHQ"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_MlCgNYLgEei2Ab2sNssNHQ" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_MlB5I4LgEei2Ab2sNssNHQ" x="51" y="78" width="390" height="366"/>
        </children>
        <children xmi:id="_AN_1kILhEei2Ab2sNssNHQ" type="State" element="_AN-AYILhEei2Ab2sNssNHQ">
          <children xsi:type="notation:DecorationNode" xmi:id="_AN_1lILhEei2Ab2sNssNHQ" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_AN_1lYLhEei2Ab2sNssNHQ"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_AN_1loLhEei2Ab2sNssNHQ"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_AN_1l4LhEei2Ab2sNssNHQ" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_AOAcoILhEei2Ab2sNssNHQ" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_AOAcoYLhEei2Ab2sNssNHQ"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_AOAcooLhEei2Ab2sNssNHQ" type="StateFigureCompartment">
            <children xmi:id="_8VixwILqEei2Ab2sNssNHQ" type="Region" element="_AN-AY4LhEei2Ab2sNssNHQ">
              <children xsi:type="notation:DecorationNode" xmi:id="_8VixwYLqEei2Ab2sNssNHQ" type="RegionName">
                <styles xsi:type="notation:ShapeStyle" xmi:id="_8VixwoLqEei2Ab2sNssNHQ"/>
                <layoutConstraint xsi:type="notation:Location" xmi:id="_8Vixw4LqEei2Ab2sNssNHQ"/>
              </children>
              <children xsi:type="notation:Shape" xmi:id="_8VixxILqEei2Ab2sNssNHQ" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
                <children xmi:id="_8VixxYLqEei2Ab2sNssNHQ" type="State" element="_iDRcAILjEei2Ab2sNssNHQ">
                  <children xsi:type="notation:DecorationNode" xmi:id="_8VixxoLqEei2Ab2sNssNHQ" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_8Vixx4LqEei2Ab2sNssNHQ"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_8VixyILqEei2Ab2sNssNHQ"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_8VixyYLqEei2Ab2sNssNHQ" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_8VixyoLqEei2Ab2sNssNHQ" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_8Vixy4LqEei2Ab2sNssNHQ"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_8VixzILqEei2Ab2sNssNHQ" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_8VixzYLqEei2Ab2sNssNHQ" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_8VixzoLqEei2Ab2sNssNHQ"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_8Vixz4LqEei2Ab2sNssNHQ" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_8Vix0ILqEei2Ab2sNssNHQ" x="55" y="47" width="158" height="107"/>
                </children>
                <children xmi:id="_8Vix0YLqEei2Ab2sNssNHQ" type="Entry" element="_8ODt4ILjEei2Ab2sNssNHQ">
                  <children xmi:id="_8Vix0oLqEei2Ab2sNssNHQ" type="BorderItemLabelContainer">
                    <children xsi:type="notation:DecorationNode" xmi:id="_8Vix04LqEei2Ab2sNssNHQ" type="BorderItemLabel">
                      <styles xsi:type="notation:ShapeStyle" xmi:id="_8Vix1ILqEei2Ab2sNssNHQ"/>
                      <layoutConstraint xsi:type="notation:Location" xmi:id="_8Vix1YLqEei2Ab2sNssNHQ"/>
                    </children>
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_8Vix1oLqEei2Ab2sNssNHQ" fontName="Verdana" lineColor="4210752"/>
                    <layoutConstraint xsi:type="notation:Bounds" xmi:id="_8Vix14LqEei2Ab2sNssNHQ"/>
                  </children>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_8Vix2ILqEei2Ab2sNssNHQ" fontName="Verdana" fillColor="0" lineColor="16777215"/>
                  <styles xsi:type="notation:NamedStyle" xmi:id="_8Vix2YLqEei2Ab2sNssNHQ" name="allowColors"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_8Vix2oLqEei2Ab2sNssNHQ" x="41" y="-5"/>
                </children>
                <children xmi:id="_8Vix24LqEei2Ab2sNssNHQ" type="State" element="_-bEYAILjEei2Ab2sNssNHQ">
                  <children xsi:type="notation:DecorationNode" xmi:id="_8Vix3ILqEei2Ab2sNssNHQ" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_8Vix3YLqEei2Ab2sNssNHQ"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_8Vix3oLqEei2Ab2sNssNHQ"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_8Vix34LqEei2Ab2sNssNHQ" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_8Vix4ILqEei2Ab2sNssNHQ" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_8Vix4YLqEei2Ab2sNssNHQ"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_8Vix4oLqEei2Ab2sNssNHQ" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_8Vix44LqEei2Ab2sNssNHQ" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_8Vix5ILqEei2Ab2sNssNHQ"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_8Vix5YLqEei2Ab2sNssNHQ" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_8Vix5oLqEei2Ab2sNssNHQ" x="400" y="41" width="204" height="125"/>
                </children>
                <children xmi:id="_8Vix54LqEei2Ab2sNssNHQ" type="State" element="__8ThTYLjEei2Ab2sNssNHQ">
                  <children xsi:type="notation:DecorationNode" xmi:id="_8Vix6ILqEei2Ab2sNssNHQ" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_8Vix6YLqEei2Ab2sNssNHQ"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_8Vix6oLqEei2Ab2sNssNHQ"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_8Vix64LqEei2Ab2sNssNHQ" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_8Vix7ILqEei2Ab2sNssNHQ" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_8Vix7YLqEei2Ab2sNssNHQ"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_8Vix7oLqEei2Ab2sNssNHQ" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_8Vix74LqEei2Ab2sNssNHQ" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_8Vix8ILqEei2Ab2sNssNHQ"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_8Vix8YLqEei2Ab2sNssNHQ" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_8Vix8oLqEei2Ab2sNssNHQ" x="213" y="258" width="193" height="108"/>
                </children>
                <layoutConstraint xsi:type="notation:Bounds" xmi:id="_8Vix84LqEei2Ab2sNssNHQ"/>
              </children>
              <styles xsi:type="notation:ShapeStyle" xmi:id="_8Vix9ILqEei2Ab2sNssNHQ" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_8Vix9YLqEei2Ab2sNssNHQ"/>
            </children>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_AN_1kYLhEei2Ab2sNssNHQ" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_AN_1koLhEei2Ab2sNssNHQ"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_AOAco4LhEei2Ab2sNssNHQ" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_AN_1k4LhEei2Ab2sNssNHQ" x="561" y="78" width="655" height="456"/>
        </children>
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="__Y9V4YLeEei2Ab2sNssNHQ"/>
      </children>
      <styles xsi:type="notation:ShapeStyle" xmi:id="__YmwpoLeEei2Ab2sNssNHQ" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="__Y9V4oLeEei2Ab2sNssNHQ" x="220" width="1263" height="715"/>
    </children>
    <children xsi:type="notation:Shape" xmi:id="__ZC1d4LeEei2Ab2sNssNHQ" type="StatechartText" fontName="Verdana" lineColor="4210752">
      <children xsi:type="notation:DecorationNode" xmi:id="__ZC1eYLeEei2Ab2sNssNHQ" type="StatechartName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="__ZC1eoLeEei2Ab2sNssNHQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="__ZC1e4LeEei2Ab2sNssNHQ"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="__ZC1fILeEei2Ab2sNssNHQ" type="StatechartTextExpression" fontName="Verdana" lineColor="4210752">
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="__ZC1fYLeEei2Ab2sNssNHQ"/>
      </children>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="__ZC1foLeEei2Ab2sNssNHQ" y="10" width="221" height="603"/>
    </children>
    <styles xsi:type="notation:DiagramStyle" xmi:id="__Yh4EYLeEei2Ab2sNssNHQ"/>
    <edges xmi:id="_PEwq8ILgEei2Ab2sNssNHQ" type="Transition" element="_PEuOsILgEei2Ab2sNssNHQ" source="__Y988YLeEei2Ab2sNssNHQ" target="_MlB5IILgEei2Ab2sNssNHQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_PEwq9ILgEei2Ab2sNssNHQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_PEwq9YLgEei2Ab2sNssNHQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_PEwq9oLgEei2Ab2sNssNHQ" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_PEwq8YLgEei2Ab2sNssNHQ" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_PEwq84LgEei2Ab2sNssNHQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_PEwq8oLgEei2Ab2sNssNHQ" points="[0, 7, 9, -58]$[-7, 65, 2, 0]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_PEygIILgEei2Ab2sNssNHQ" id="(0.36923076923076925,0.00273224043715847)"/>
    </edges>
    <edges xmi:id="_ClhGkILhEei2Ab2sNssNHQ" type="Transition" element="_ClfRYILhEei2Ab2sNssNHQ" source="_MlB5IILgEei2Ab2sNssNHQ" target="_AN_1kILhEei2Ab2sNssNHQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_ClhGlILhEei2Ab2sNssNHQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_ClhGlYLhEei2Ab2sNssNHQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_ClhGloLhEei2Ab2sNssNHQ" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_ClhGkYLhEei2Ab2sNssNHQ" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_ClhGk4LhEei2Ab2sNssNHQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_ClhGkoLhEei2Ab2sNssNHQ" points="[5, 3, -127, -33]$[130, 3, -2, -33]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_Cli7wILhEei2Ab2sNssNHQ" id="(0.9871794871794872,0.4207650273224044)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_Cli7wYLhEei2Ab2sNssNHQ" id="(0.004580152671755725,0.4155124653739612)"/>
    </edges>
    <edges xmi:id="_ROvZwILhEei2Ab2sNssNHQ" type="Transition" element="_ROoFAILhEei2Ab2sNssNHQ" source="_Qj8JQILhEei2Ab2sNssNHQ" target="_hawK0ILgEei2Ab2sNssNHQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_ROwA0YLhEei2Ab2sNssNHQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_ROwA0oLhEei2Ab2sNssNHQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_ROwA04LhEei2Ab2sNssNHQ" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_ROvZwYLhEei2Ab2sNssNHQ" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_ROwA0ILhEei2Ab2sNssNHQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_ROvZwoLhEei2Ab2sNssNHQ" points="[0, 7, 5, -41]$[-3, 42, 2, -6]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_RO2HcILhEei2Ab2sNssNHQ" id="(0.32450331125827814,0.06422018348623854)"/>
    </edges>
    <edges xmi:id="_14g9kILiEei2Ab2sNssNHQ" type="Transition" element="_14fIYILiEei2Ab2sNssNHQ" source="_hawK0ILgEei2Ab2sNssNHQ" target="_muzzgYLiEei2Ab2sNssNHQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_14g9lILiEei2Ab2sNssNHQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_14g9lYLiEei2Ab2sNssNHQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_14g9loLiEei2Ab2sNssNHQ" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_14g9kYLiEei2Ab2sNssNHQ" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_14g9k4LiEei2Ab2sNssNHQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_14g9koLiEei2Ab2sNssNHQ" points="[-2, 8, 3, -49]$[-2, 56, 3, -1]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_14iywILiEei2Ab2sNssNHQ" id="(0.463768115942029,0.9101123595505618)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_14iywYLiEei2Ab2sNssNHQ" id="(0.4396135265700483,0.02247191011235955)"/>
    </edges>
    <edges xmi:id="_5UfVMILiEei2Ab2sNssNHQ" type="Transition" element="_5UdgAILiEei2Ab2sNssNHQ" source="_muzzgYLiEei2Ab2sNssNHQ" target="_hawK0ILgEei2Ab2sNssNHQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_5UfVNILiEei2Ab2sNssNHQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_5UfVNYLiEei2Ab2sNssNHQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_5UfVNoLiEei2Ab2sNssNHQ" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_5UfVMYLiEei2Ab2sNssNHQ" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_5UfVM4LiEei2Ab2sNssNHQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_5UfVMoLiEei2Ab2sNssNHQ" points="[8, -3, 4, 68]$[8, -51, 4, 20]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_5UhKYILiEei2Ab2sNssNHQ" id="(0.7584541062801933,0.0449438202247191)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_5UhKYYLiEei2Ab2sNssNHQ" id="(0.7777777777777778,0.7640449438202247)"/>
    </edges>
    <edges xmi:id="_YtWOcILjEei2Ab2sNssNHQ" type="Transition" element="_YtTyMILjEei2Ab2sNssNHQ" source="_AN_1kILhEei2Ab2sNssNHQ" target="_MlB5IILgEei2Ab2sNssNHQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_YtWOdILjEei2Ab2sNssNHQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_YtWOdYLjEei2Ab2sNssNHQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_YtWOdoLjEei2Ab2sNssNHQ" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_YtWOcYLjEei2Ab2sNssNHQ" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_YtWOc4LjEei2Ab2sNssNHQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_YtWOcoLjEei2Ab2sNssNHQ" points="[0, 3, 130, 63]$[-125, 3, 5, 63]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_YtYDoILjEei2Ab2sNssNHQ" id="(0.0,0.5761772853185596)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_YtYDoYLjEei2Ab2sNssNHQ" id="(0.9871794871794872,0.5519125683060109)"/>
    </edges>
    <edges xmi:id="_83SREILjEei2Ab2sNssNHQ" type="Transition" element="_83Qb4ILjEei2Ab2sNssNHQ" source="_8Vix0YLqEei2Ab2sNssNHQ" target="_8VixxYLqEei2Ab2sNssNHQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_83SRFILjEei2Ab2sNssNHQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_83SRFYLjEei2Ab2sNssNHQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_83SRFoLjEei2Ab2sNssNHQ" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_83SREYLjEei2Ab2sNssNHQ" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_83SRE4LjEei2Ab2sNssNHQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_83SREoLjEei2Ab2sNssNHQ" points="[7, 3, -126, -55]$[137, 45, 4, -13]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_83UGQILjEei2Ab2sNssNHQ" id="(0.6130653266331658,0.12389380530973451)"/>
    </edges>
    <edges xmi:id="_CfGOIILkEei2Ab2sNssNHQ" type="Transition" element="_CfDx4ILkEei2Ab2sNssNHQ" source="_8VixxYLqEei2Ab2sNssNHQ" target="_8Vix24LqEei2Ab2sNssNHQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_CfGOJILkEei2Ab2sNssNHQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_CfGOJYLkEei2Ab2sNssNHQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_CfGOJoLkEei2Ab2sNssNHQ" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_CfGOIYLkEei2Ab2sNssNHQ" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_CfGOI4LkEei2Ab2sNssNHQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_CfGOIoLkEei2Ab2sNssNHQ" points="[6, -24, -94, -23]$[100, -24, 0, -23]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_CfIDUILkEei2Ab2sNssNHQ" id="(0.9698492462311558,0.40707964601769914)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_CfIDUYLkEei2Ab2sNssNHQ" id="(0.0,0.4166666666666667)"/>
    </edges>
    <edges xmi:id="_E3S0kILkEei2Ab2sNssNHQ" type="Transition" element="_E3RmcILkEei2Ab2sNssNHQ" source="_8Vix24LqEei2Ab2sNssNHQ" target="_8VixxYLqEei2Ab2sNssNHQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_E3S0lILkEei2Ab2sNssNHQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_E3S0lYLkEei2Ab2sNssNHQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_E3S0loLkEei2Ab2sNssNHQ" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_E3S0kYLkEei2Ab2sNssNHQ" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_E3S0k4LkEei2Ab2sNssNHQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_E3S0koLkEei2Ab2sNssNHQ" points="[0, 7, 102, 4]$[-97, 33, 5, 30]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_E3UpwILkEei2Ab2sNssNHQ" id="(0.0,0.7314814814814815)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_E3UpwYLkEei2Ab2sNssNHQ" id="(0.9597989949748744,0.7256637168141593)"/>
    </edges>
    <edges xmi:id="_I3GSAILkEei2Ab2sNssNHQ" type="Transition" element="_I3Ec0ILkEei2Ab2sNssNHQ" source="_8Vix24LqEei2Ab2sNssNHQ" target="_8Vix54LqEei2Ab2sNssNHQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_I3GSBILkEei2Ab2sNssNHQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_I3GSBYLkEei2Ab2sNssNHQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_I3GSBoLkEei2Ab2sNssNHQ" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_I3GSAYLkEei2Ab2sNssNHQ" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_I3GSA4LkEei2Ab2sNssNHQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_I3GSAoLkEei2Ab2sNssNHQ" points="[15, 10, 90, -141]$[15, 149, 90, -2]$[-73, 149, 2, -2]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_I3IHMILkEei2Ab2sNssNHQ" id="(0.37305699481865284,0.9166666666666666)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_I3IHMYLkEei2Ab2sNssNHQ" id="(0.9896373056994818,0.4351851851851852)"/>
    </edges>
    <edges xmi:id="_Kqm3AILkEei2Ab2sNssNHQ" type="Transition" element="_KqlB0ILkEei2Ab2sNssNHQ" source="_8Vix54LqEei2Ab2sNssNHQ" target="_8Vix24LqEei2Ab2sNssNHQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_Kqm3BILkEei2Ab2sNssNHQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_Kqm3BYLkEei2Ab2sNssNHQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_Kqm3BoLkEei2Ab2sNssNHQ" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_Kqm3AYLkEei2Ab2sNssNHQ" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_Kqm3A4LkEei2Ab2sNssNHQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_Kqm3AoLkEei2Ab2sNssNHQ" points="[6, 22, -129, 178]$[134, 22, -1, 178]$[134, -153, -1, 3]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_KqosMILkEei2Ab2sNssNHQ" id="(0.9689119170984456,0.5462962962962963)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_KqosMYLkEei2Ab2sNssNHQ" id="(0.6580310880829016,0.9814814814814815)"/>
    </edges>
    <edges xmi:id="_wR_80ILpEei2Ab2sNssNHQ" type="Transition" element="_wR7EUILpEei2Ab2sNssNHQ" source="_8Vix54LqEei2Ab2sNssNHQ" target="_8VixxYLqEei2Ab2sNssNHQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_wR_81ILpEei2Ab2sNssNHQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_wR_81YLpEei2Ab2sNssNHQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_wR_81oLpEei2Ab2sNssNHQ" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_wR_80YLpEei2Ab2sNssNHQ" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_wR_804LpEei2Ab2sNssNHQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_wR_80oLpEei2Ab2sNssNHQ" points="[0, 0, 71, 155]$[-68, -141, 3, 14]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_wSCZEILpEei2Ab2sNssNHQ" id="(0.0,0.37037037037037035)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_wSCZEYLpEei2Ab2sNssNHQ" id="(0.4120603015075377,0.8761061946902655)"/>
    </edges>
    <edges xmi:id="_2sp68IPMEei-3cjx35IeAQ" type="Transition" element="_2sj0UIPMEei-3cjx35IeAQ" source="_8Vix54LqEei2Ab2sNssNHQ" target="_8Vix24LqEei2Ab2sNssNHQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_2sp69IPMEei-3cjx35IeAQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_2sp69YPMEei-3cjx35IeAQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_2sp69oPMEei-3cjx35IeAQ" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_2sp68YPMEei-3cjx35IeAQ" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_2sp684PMEei-3cjx35IeAQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_2sp68oPMEei-3cjx35IeAQ" points="[5, -5, -143, 172]$[152, -166, 4, 11]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_2sp694PMEei-3cjx35IeAQ" id="(0.9740932642487047,0.6759259259259259)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_2sp6-IPMEei-3cjx35IeAQ" id="(0.7254901960784313,0.912)"/>
    </edges>
  </notation:Diagram>
</xmi:XMI>
